*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 13px;
    /* Tirando qualquer barra(scroll) na horizontal */
    overflow-x: hidden;
}
header{
    height: 100px;
    background-color: #000;
    color: #FFF;
}
.header{
    max-width: 1140px;
    height: 100px;
    /* Deixando o espaço disponível centralizado com o margin auto */
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
}
.logoimg {
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 50%;
}
.menu-opener{
    display: none;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul, menu li{
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    /* Colocando display flex/block para conseguirmos aumentar a altura e colocar a borda a abaixo*/
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 10px 0 10px;
    /* Tirando o comportamento padrão de o elemento dar um pequeno zoom qnd passamos o mouse e é adicionada uma borda */
    border-bottom: 5px solid #000;
}
.menu li a:hover,.menu .active a{
    border-bottom: 5px solid #b28756;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #CCC;
}
.btn {
    display: inline-block;
    width: 190px;
    margin-top: 35px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    background-color: #b28756;
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
}

.banner{
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    /* Tudo que passar horizontalmente da minha tela, é ignorado (sem scroll na horizontal) */
    overflow: hidden;
}
.banner .sliders{
    /* Espaço pra 10 sliders, 1000vh = 100vh * 10 */
    width: 1000vw;
    height: 100%;
}
.banner .slide{
    /* Pegando area inteira (width) */
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
}
.banner .slidearea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    /* Precisamos pegar 100% da altura pra centralizar o elemento */
    height: 100%;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
}
.banner span{
    color:#b28756;
}
.banner h2{
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 10px;
}
.banner .sliders-pointers{
    width: 100vw;
    height: 20px;
    /* Deixando o elemento flutuante (sem se posicionar baseado em nenhum outro elemento, ou seja, 100% soltinho) */
    position: absolute;
    margin-top: -15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.default{
    padding: 50px 0 50px 0;
}
.default .section-title, .default .section-desc{
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.default .section-desc{
    font-size: 12px;
    font-weight: 600;
    color: #bbb;
    margin-bottom: 40px;
}
.default .section-title{
    font-size: 27px;
}
.default .section-body{
    max-width: 1140px;
    margin:auto
}
.default.light{
    background-color: #f7f7f7;
}
.default.light .section-title,.default.light .section-body{
    color:#000;
}
.default.dark{
    background-color: #000;
}
.default.dark .section-title,.default.dark .section-body{
    color:#fff;
}




/* CSS de areás específicas */
.section-aboutus{
    display: flex;
}
.section-aboutus--left{
    flex:1;
}
.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
    padding-left: 5px;
}
.section-aboutus--right{
    width: 500px;
    text-align: center;
}
.section-aboutus--right img{
    width: 95%;
    box-shadow: 0px 5px 9px #333;
}


.section-services{
    display: flex;
}
.section-service:first-child{
    border-left: 1px solid #333;
}
.section-service{
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}
.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
} 
.section-service p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}


.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-projects--filters{
    border: 1px solid #ccc;
    background-color: rgb(216, 214, 214);
    border-radius: 30px;
    /* Pegando só a área necessária que os elementos preenchem */
    display: inline-block;
    padding: 0 20px;

}
.section-projects--filters ul, .section-projects--filters li{
    list-style: none;
}
.section-projects--filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    /* Tirando o efeito de zoom default qnd add um border cm o hover */
    border-bottom: #eee;
    cursor: pointer;
}
.section-projects--filters li:hover, .section-projects--filters li.active{
    border-bottom: 3px solid #b28756;
}
.section-projects--filters li:first-child{
    border-left: 0;
}
.section-projects--photos{
    /* Usando 100% mas limitado a 1140px */
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects--photo{
    width: 280px;
}
.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}
.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #fff;
}
.section-projects--photoinfo h5{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}
.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}

.bg-team {
    background-image:url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    /* Tirando esse padding */
    padding: 0;
}
.section-team-area{
    background-color: rgba(0,0,0,0.8);
    /* Compensando o padding tirado para o fundo preto cobrir a img inteira*/
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.section-team .sliders{
    /* Espaço pra 10 sliders, 1000vh = 100vh * 10 */
    width: 1000vw;
    height: 100%;
}
.section-team .slide{
    /* Pegando area inteira (width) */
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
}
.section-team .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 30px;
    /* Precisamos pegar 100% da altura pra centralizar o elemento */
}
.section-team--avatar{
    /* Ajustando a img para o tamanho adequado */
    width: 150px;
    height: auto;
}
.section-team--name{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}
.section-team--role{
    font-size: 13px;
    color: rgb(130, 129, 129);
    margin-top: 3px;
}
.section-team--social{
    display: flex;
    margin-top: 25px;
}
.section-team--social a{
    /* Para conseguirmos ajustar melhor o tamanho */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #aaa;
    border-radius: 50%;
    margin-right: 10px;
}
.section-team--social a:hover{
    background-color: #b28756;
}
.section-reviews-area{
    display: flex;
    flex-direction: column;
}
.section-reviews{
    width: 800px;
    height: 100%;
    text-align: center;
    margin: auto;
}
.section-reviews--customers .quote{
    padding: 30px 0 10px 0;
}
.section-reviews--customers .section-reviews--role{
    margin-top: 5px;
    font-weight: 600;
    font-size: 15px;
}
.section-reviews--customers p{
    color: #555;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
}
 .section-reviews-area .sliders-pointers{
    margin-top: 50px;
    height: 20px;
    /* Deixando o elemento flutuante (sem se posicionar baseado em nenhum outro elemento, ou seja, 100% soltinho) */
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-reviews-area .active-pointer{
    background-color: #b28756;
}
.section-reviews-companies{
    display: inherit;
    justify-content: space-between;
    margin-top: 80px;

}
.default.default-price{
    padding: 0;
    padding-bottom: 50px;
}
section .section-prices{
    display: flex;
    justify-content: space-between;
    width: 1050px;
    height: 100%;
    text-align: center;
    margin: auto;
}
section .section-title-price{
    border-top: 2px solid #bbb;
    padding-top: 40px;
}
section .plans-prices{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
}
section .plans-prices h1{
    font-size: 45px;
    padding: 8px;
}
section .plans-prices h3{
    margin-top: -8px;
    color: #bbb;
    margin-bottom: 18px;
}
section .plans-prices-services div{
    text-transform: none;
    color: #555;
    padding-top: 4px;
}
.btn.choose{
    font-size: 14px;
    background-color: #333;
    width: 140px;
}
.btn.choose:hover{
    background-color: #b28756;
}
.btn.choose.active-pointer{
    background-color: #b28756;
}
.premium {
    border-top:2px solid #bbb;
}
/* .default.light.premium{
    border-bottom -> premium
} */
.section-premium .slidearea {
    display:flex;
    height:100%;
    /* justify-content: center; */
    /* align-items:center; */
    border-bottom:2px solid #bbb;
    margin:auto;
    padding-bottom:40px;
}
.section-premium--left {
    flex:1;
    text-align:right;
}
.section-premium--left img {
    /* width:300px; */
    margin-right:100px;
}
.section-premium--right {
    flex:1;
}
.section-premium--item {
    display:flex;
    margin-bottom:20px;
}
.section-premium--item img {
    width:20px;
    height:20px;
    margin-right:20px;
}
.section-premium--item div {
    flex:1;
    color:#999;
    line-height:20px;
}
.section-premium--item div h4 {
    color:#000;
    font-size:17px;
    font-weight:600;
}

.sliders-pointers {
    margin-top: 50px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 50%;
    margin: 0 5px 0 5px;
    cursor: pointer;
}
.pointer.active {
    background-color:#B28756;
}
.pointer:hover{
    background-color: #b28756;
}
.active-pointer{
    background-color: #b28756;
}
.section-facts-area{
    display: flex;
}
.section-facts{
    flex: 1;
    text-align: center;
    padding: 15px;
    justify-content: center;
    align-items: center;
}
.sections-facts-numbers{
    color: #b28756;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 7px;
}
.section-facts h4{
    margin-top: 7px;
    text-transform: uppercase;
    font-size: 18px;
} 
.section-facts p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}
.section-facts-border{
    width: 25px;
    margin: auto;
    border-bottom: 4px solid #999;
}

.section-contactus{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.section-contact-social{
    display: flex;
    margin-top: -25px;
    margin-bottom: 70px;
}
.section-contact-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #aaa;
    border-radius: 50%;
}
.section-contact-social a:first-child{
    background-color: #fff;
    justify-content: flex-start;
    text-decoration: none;
    text-transform: uppercase;
}
.section-contact-social div:nth-child(2){
    margin-right: 60px;
}
.section-contact-social div{
    padding-left: -10px;
    margin: auto;
    margin-right: 45px;
    padding-left: 6px;
    text-transform: uppercase;
    color: #aaa;
    font-weight: 600;
}
.section-contactus form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
}
/* Usando o nth-child pra aplicar x propriedades apenas dos elementos 3 ao 4 */
.section-contactus input[type=text]:nth-child(n+3):nth-child(-n+4){
    width: 100%;
}
.section-contactus form{
    width: 47%;
}
.section-contactus form input{
    padding: 8px 8px;
    margin: 25px 0;
    border: none;
    border-bottom: 2.3px solid #aaa;
    width: 47%;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #333;
    text-shadow: 0 0 2px rgb(120, 0, 145);
}
.section-contactus #msg{
    margin-top: 50px;
}
.section-contactus form{
    border: none;
}

.section-map {
    background-image: url('../images/mapa.jpg');
    /* Pegando todo espaço disponível/necessário */
    background-size: cover;
    background-position: center;
    padding: 30px 0;
}
.section-map-area{
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}
.section-map-info {
    width: 50%;
    padding: 30px;
    background-color: #FFF;
    color: #000
}
.section-map-info-item{
    display: flex;
    font-weight: 600;
    align-items: center;
    color: #778;
    margin-bottom: 10px;
}
.section-map-info-item-img {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #999;
    border-radius: 15px;
    margin-right: 15px;
}
.section-map-info-item-img img{
    width: 15px;
    height: auto;
}

.section-footer{
    display: flex;
    margin-top: -30px;
}
.section-footer--area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 15px;
}
.section-footer--area div{
    flex: 1;
}

.section-footer--center p{
    color: #aaa;
}
.section-footer-social{
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}
.section-footer-social a{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background-color: #333;
    border-radius: 50%;
}
.section-footer--center{
    flex-wrap: wrap;
    word-spacing: 3px;
}
.section-footer--right{
    margin-left: 50px;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}
.section-footer--right form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-footer--right form input{
    text-align: center;
    padding: 8px 8px;
    border: none;
    border-bottom: 2.3px solid #aaa;
    background-color: #333;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #888;
}
.section-footer--right form button{
    font-family: 'Montserrat', Arial, sans-serif;
    display: inline-block;
    width: 150px;
    margin-top: 40px;
    border: none;
    text-transform: uppercase;
    color:#fff;
    background-color: #b28756;
    padding: 13px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}
.section-footer--right form button:hover{
    transform: scale(1.10);
    background-color: #926f48;
}

@media (max-width:450px){
    .menu-opener{
        display: block;
        width: 45px;
        margin-right: 30px;
    }
    .logo{
        margin-left: 30px;
    }
    nav {
        display: none;
        position: absolute;
        /* Colocando em uma cada por cima do resto do conteúdo*/
        z-index: 99;
        background-color: rgba(0,0,0,0.8);
        width: 80vw;
        height: calc(100vh - 100px);
        /* Ajustando para o topo na direita */
        top: 100px;
        right: 0;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li a {
        font-weight: bold;
        height: 60px;
        font-size: 20px;
        margin-left: 30px;
        border: 0;
    }
    .menu li.active a {
        border: 0;
        color: #b28756;
    }
    .banner h1 {
        font-size: 33px;
    }
    .banner h2 {
        font-size: 16px;
    }
    .section-aboutus{
        flex-direction: column;
    }
    .section-aboutus--left{
        margin: 0 30px 30px 30px;
    }
    .section-aboutus--right img{
        width: 100%;
    }
    .section-aboutus--right{
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }
    .section-services{
        flex-wrap: wrap;
    }
    .section-service{
        min-width: 100%;
        padding-bottom: 30px;
    }
    .section-service:first-child{
        border-left: 0;
    }

    .section-projects--filters{
        margin-left: 30px;
        margin-right: 30px;
    }
    .section-projects--photo{
        width: 320px;
    }
    .section-projects--photoarea{
        width: 300px;
        height: 190px;
    }

    .section-team{
        max-width: 280px;
    }

    .section-reviews{
        padding-left: 3px;
        width: auto;
    }
    .section-reviews-companies{
        flex-wrap: wrap;
        flex: 1;
        margin: auto;
        margin-top: 50px;
        width: 275px;
    }
    .section-reviews-companies a{
        padding-bottom: 15px;
    }

    section .section-prices{
        flex-direction: column;
        width: auto;
        flex-wrap: wrap;
    }
    section .section-prices a{
        margin: 20px auto 60px auto;
    }

    .section-premium .slidearea {
        flex-direction: column;
    }
    .section-premium--left {
        text-align:center;
        margin-left: 22px;
        margin-bottom:30px;
    }
    .section-premium--right {
        padding:0 20px;
    }
    .section-premium--item img{
        margin-right: 20px;
    }

    .section-facts-area{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
    .section-facts{
        flex: 1;
    }

    .section-contactus{
        flex-wrap:wrap;
        justify-content: flex-start;
    }

    /* Melhorar essa parte */
    .section-contact-social{
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-contact-social a{
        display: flex;
        flex-direction: column;
    }
    .section-contact-social div{
        visibility: hidden;
    }
    .section-contact-social a:first-child{
        display: none;
    }
    .section-contact-social div{
        padding-left: 0;
        margin: 0;
    }
    .section-contact-social .section-contact-social-about{
        width: 100%;
        text-align: center;
        padding-bottom: 25px;
        visibility: visible;
    }
    .section-contact-social div:nth-child(2){
        margin: 0;
    }
    .section-contactus .section-desc{
        width: 86%;
    }

    .section-contactus form{
        width: 100%;
    }
    .section-contactus form input{
        width: 100%;
        margin:25px 25px;
    }
    .section-contactus .btn{
        width: 150px;
    }

    .section-map{
        padding: 0;
        padding-bottom: 250px;
    }
    .section-map-area{
        width: auto;
    }
    .section-map-info{
        width: auto;
    }
    .section-map-info-item{
        margin-bottom: 20px;
    }
    .section-map-info-item:last-child{
        margin-bottom: 0;
    }

    
    .section-footer--area{
        flex-direction: column;
        align-items: center;
        /* text-align: center; */
    }
    .section-footer--left{
        text-align: center;
        margin-bottom: 30px;
    }
    .section-footer-social{
        margin-bottom: 25px;
    }
    .section-footer--center{
        padding: 0px 30px;
    }
    .section-footer--right{
        margin: auto;
        margin-top: 50px;
        padding: 30px;
        border-radius: 4px;
    }
    .section-footer--right form button{
        width: 150px;
    }
}













@media (min-width:450px) and (max-width:800px){
    .menu-opener{
        display: block;
        width: 45px;
        margin-right: 30px;
    }
    .logo{
        margin-left: 30px;
    }
    nav {
        display: none;
        position: absolute;
        /* Colocando em uma cada por cima do resto do conteúdo*/
        z-index: 99;
        background-color: rgba(0,0,0,0.8);
        width: 70vw;
        height: calc(100vh - 100px);
        /* Ajustando para o topo na direita */
        top: 100px;
        right: 0;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li a {
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-left: 30px;

        border: 0;
    }
    .menu li.active a {
        border: 0;
        color: #b28756;
    }
    .section-aboutus{
        flex-direction: column;
    }
    .section-aboutus--left{
        margin: 0 30px 30px 30px;
    }
    .section-aboutus--right{
        width: auto;
    }
    .section-services{
        flex-wrap: wrap;
    }
    .section-service{
        min-width: 50%;
        padding-bottom: 30px;
    }
    .section-service:first-child{
        border-left: 0;
    }
    .section-team{
        max-width: 580px;
    }

    .section-reviews{
        width: auto;
    }
    .section-reviews p{
        flex-wrap: wrap;
        padding: 0 10px;
    }
    .section-reviews-companies{
        align-items: center;
        margin: auto;
        margin-top: 50px;
        flex-wrap: wrap;
        flex: 1;
        width: 410px;
        padding: 0 20px;
    }
    .section-reviews-companies a{
        /* background-color: red; */
        padding-bottom: 25px;
    }

    section .section-prices{
        width: 500px;
        flex-wrap: wrap;
    }
    .plans-prices:first-child{
        padding-left: 10px;
    }
    .plans-prices .btn.choose:nth-child(1), .plans-prices .btn.choose{
        margin-bottom: 20px;
    }

    .section-premium .slidearea{
        padding: 0 15px;
    }

    .section-facts-area{
        display: flex;
        align-items: flex-start;
        margin: auto;
        flex-wrap: wrap;
        width: 75vh;
    }

    /* .section-contact-social{

    } */

    .section-contact-social div{
        margin: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .section-contact-social div{
        margin-right: 15px;
    }

    .section-map{
        padding: 0 30px 0 30px;
    }
    .section-map-area{
        width: auto;
    }
    .section-map-info{
        width: auto;
    }
    .section-map-info-item{
        margin-bottom: 20px;
    }
    .section-map-info-item:last-child{
        margin-bottom: 0;
    }

    .section-footer--area{
        flex-wrap: wrap;
    }
    .section-footer--left{
        margin-right: 10px;
    }
    .section-footer-social{
        flex: 1;
        flex-wrap: wrap;
    }
    .section-footer--right{
        margin-left: 12px;
        height: 20vh;
    }
    .section-footer--right form input{
        font-size: 14px;
        padding: 8px 0px;
    }
    .section-footer--right form button{
        width: 130px;
        font-size: 13px;
    }
    .section-footer-social{
        margin-bottom: 130px;
    }

};
